.nested-fields
  .field
    =f.label :name, 'Link name'
    =f.text_field :name
  .field
    =f.label :url
    =f.text_field :url
  .field
    =f.label :gist
      span= 'Gist'
      =f.check_box :gist
  =link_to_remove_association "remove link", f
