=form_with model: @question, access_token: @token, local: false do |f|
  .field
    =f.label :body, 'New question:'
    =f.text_area :body, rows: 5
  #links
    = f.fields_for :links do |l|
      =render 'link_fields', :f => l
    .link-link
      =link_to_add_association 'add link', f, :links
  =f.submit 'Save', class: 'btn'
