=form_with model: [@question, @answer], access_token: @token, local: false, data: { type: :json } do |f|
  .field
    =f.label :body, 'Your answer'
    =f.text_area :body
  #links
    = f.fields_for :links do |l|
      =render 'link_fields', :f => l
    .link-link
      =link_to_add_association 'add link', f, :links
  =f.submit 'Create'
